
main{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.main{
    width: 1280px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.button-container{
    width:80%;
    display: flex;
    justify-content:center;
}
.container-1{
    margin:48px;
}
.container-2{
    width:80%;
    display:flex;
    flex-direction: column;
    gap : 48px;
    margin-bottom: 64px;
}
.title-container{
    display:flex;
    gap :24px;
}
.content-container{
    display: flex;
    flex-direction: column;
}
.content-field{
    width:100%;
    height:360px;
    padding:24px;
}
.button{
    outline-style: none;
    padding: 8px 24px 8px 24px;
    border-radius: 10px;
    font-size:24px;
    text-decoration-line: none;
    background-color: white;
    border: 1px #1E78FF solid;
    color:#1E78FF;
}
.title-field{
    width: 90%;
}
.field-name{
    font-size:24px;
}